<div class="container">
  <div class="row">
    <div class="col">
      <h1>Por favor, confirma tu correo electrónico para acceder a todas las funciones.</h1>
    <%= link_to 'Reenviar confrirmacion', new_user_confirmation_path %>

    </div>
  </div>
</div>
  